html{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #f5f7fa 0%, rgb(150, 191, 255) 100%);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    ::selection{
        background-color: black;
        color: #2758c4;
    }  
}
h1 {
    font-family: 'Inter', sans-serif; /* Uma fonte bem moderna */
    font-size: 4rem; /* Bem grande */
    font-weight: 800;
    letter-spacing: -2px; /* Letras juntinhas pra dar impacto */
    background: linear-gradient(90deg, #013ec2, #2758c4, #29618f);
    -webkit-background-clip: text; /* Faz o degradê ficar só na letra */
    -webkit-text-fill-color: transparent; /* Deixa o fundo do texto transparente */
    background-size: 200% auto;
    animation: gradient Move 3s linear infinite; /* Faz o degradê "andar" */
}

@keyframes gradientMove {
    to { background-position: 200% center; }
}
#carta{
    text-align: center;
    background-color: rgba(240, 248, 255, 0.788);
    width: 30vw;
    border-radius: 20px;
    padding: 3%;
    font-weight: bolder;
    box-shadow: 5px 5px 5px rgba(150, 191, 255, 0.685);
    box-shadow: inset 25px 25px rgba(55, 132, 255, 0.685);
}
input{
    border-radius: 50px;
    border: 0;
    height: 5vh;
    width: 30vw;
    text-align: center;
    font-size: 110%;
    box-shadow: 5px 5px 5px rgba(150, 191, 255, 0.685);
    transition: all 0.2s;
}
input:focus{
    outline: none;
}
input:focus::placeholder {
  color: rgba(0, 0, 0, 0.11);

}
#formulario{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

button{
    background-color: rgb(105, 163, 255);   
    border-radius: 50px;
    border: 0;
    height: 5vh;
    width: 20vw;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(150, 191, 255, 0.685);
    color: white;
    font-size: 150%;
    font-weight: bolder;
    transition: all 0.2s;
}
button:hover{
    height: 7vh;
    width: 22vw;
}
#nomeH{
    font-size: 3rem;
    margin-bottom: 0;
}
#cargoH{
    margin-top: 0;
    font-size: 1.2rem;
    color: rgb(0, 73, 190);
}
#empresaH{
    font-size: 1.8rem;
    color: rgba(92, 154, 255, 0.685);
}
#emailH{
    font-size: 1.5rem;
    color: rgba(92, 154, 255, 0.685);
}
